#scores {
    font-size: 20px;
    text-align: left;
}
#timer {
    font-size: 20px;
    text-align: right;
}
#directions {
    width: 300px;
    border: 2px solid;
    border-color: purple;
    text-align: center;
    padding: 20px;
}
#start-btn {
    color: white;
    background-color: purple;
}
#question1 {
    text-align: center;
    padding: 20px;
}