#scores {
    font-size: 25px;
    text-align: left;
}
#timer {
    font-size: 25px;
    text-align: right;
}
#directions {
    color: magenta;
    width: 300px;
    border: 1px solid;
    text-align: center;
}
